[advice]
  pushNonFastForward = false
  statusHints = false
  commitBeforeMerge = false
  resolveConflict = false
  detachedHead = false

[hub]
  protocol = ssh

[core]
	excludesfile = /Users/richardmcgain/.gitignore-global
	editor = nvim

[user]
	email = mcgain@gmail.com
  name = "Richard McGain"

[color]
  ui = true

[push]
	default = matching

[checkout]
  defaultRemote = origin

[alias]
	ctags = !.git/hooks/ctags

[mergetool]
  keepBackup = false
  tool = vimdiff
[merge]
	tool = vimdiff
[diff]
  renameLimit = 1323
[pull]
	rebase = true
[help]
	autocorrect = 1
[web]
	browser = open
[diff]
  colorwords = true
  compactionHeuristic = true
	indentHeuristic = true
	algorithm = patience
[protocol]
	version = 2
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
